<div class="three wide column">
  <div class="ui secondary pointing menu">
    <% if current_page?(root_path) || current_page?('/products/') || current_page?('/products/show') %>
      <%= link_to 'Home', root_path, class: "active item" %>
      <%= link_to 'About Us', '/about', class: "item" %>
      <%= link_to 'New Items', '/products/new', class: "item" %>
      <%= link_to 'Recently Updated', '/products/updated', class: "item" %>
    <% elsif current_page?('/about/') %>
      <%= link_to 'Home', root_path, class: "item" %>
      <%= link_to 'About Us', '/about', class: "active item" %>
      <%= link_to 'New Items', '/products/new', class: "item" %>
      <%= link_to 'Recently Updated', '/products/updated', class: "item" %>
      <% elsif current_page?('/products/new') %>
      <%= link_to 'Home', root_path, class: "item" %>
      <%= link_to 'About Us', '/about', class: "item" %>
      <%= link_to 'New Items', '/products/new', class: "active item" %>
      <%= link_to 'Recently Updated', '/products/updated', class: "item" %>
      <% elsif current_page?('/products/updated') %>
      <%= link_to 'Home', root_path, class: "item" %>
      <%= link_to 'About Us', '/about', class: "item" %>
      <%= link_to 'New Items', '/products/new', class: "item" %>
      <%= link_to 'Recently Updated', '/products/updated', class: "active item" %>
    <% end %>
    <div class="right menu">
      <div class="ui item">
        <div class="ui transparent icon input">
          <% if current_page?(root_path) || current_page?('/products/') || current_page?('/products/show') ||
              current_page?('/about/') || current_page?('/products/new') || current_page?('/products/updated')%>
            <%	categories_select = [['All', 0]] %>
            <% categories_select += @categories.all.map{|u|[u.name, u.id]}%>
            <%= form_tag(products_path, method: :get) do %>
              <%=	text_field_tag :term, params[:term] %>
              <%= select_tag "category_id", options_for_select(categories_select) %>
              <%= submit_tag 'Search' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if customer_signed_in? %>
        Logged in as <%= current_customer.email %>
        <%=	link_to 'Edit Account', edit_customer_registration_path, class: "ui item" %>
        <%=	link_to 'Logout', destroy_customer_session_path, method: :delete, class: "ui item" %>
      <% else %>
        <%=	link_to 'Sign Up', new_customer_registration_path, class: "ui item" %>
        <%=	link_to 'Login', new_customer_session_path, class: "ui item" %>
      <% end %>
    </div>
  </div>
</div>