<div class="ui items">
  <div class="item">
    <div class="image">
      <%= image_tag product.image.thumb %>
    </div>
    <div class="content">
      <a class="header"><%= link_to product.name, product %></a>
      <div class="meta">
        <span>$<%= product.price %></span>
      </div>
      <div class="description">
        <p><%= product.description %></p>
      </div>
      <div class="extra">
        Currently in stock: <%= product.instock %>
      </div>
    </div>
  </div>
</div>