<!DOCTYPE html>
<html>
  <head>
    <title>Tumblers & Tomes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="relaxed container">
  <%= render partial: 'shared/title' %>
  <%= render partial: 'shared/header' %>
  <div class="ui segment">
    <%= yield %>
  </div>
  </body>
</html>
